* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.btn_email::-webkit-input-placeholder, .subscribe_btn_email::-webkit-input-placeholder {
    color: #18171D;
    letter-spacing: 0.1px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

body {
    background-color: #252B42;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

header {
    background: url('../img/desktop/background content.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    height: 156px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    background: url('../img/desktop/logo.png');
    width: 206px;
    height: 78px;
    background-repeat: no-repeat;
    margin: auto 0px;
    margin-left: 40px;
}

.nav_group {
    height: 54px;
    display: flex;
    margin: auto 0px;
    width: 422px;
    justify-content: space-between;
}

.nav_item {
    margin: auto 0px;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

.nav_reg {
    height: 54px;
    margin: auto 0px;
}

.btn_email {
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    margin: 0px 12px;
    width: 273px;
    height: 54px;
    padding: 0px 39px;
}

.btn_subscribe {
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    width: 141px;
    height: 54px;
    color: #ff006a;
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 40px;
}

.btn_subscribe:hover {
    transition: 0.25s;
    color: #ff0000;
    background: #ffffff;
}

.header_content {
    display: flex;
    justify-content: space-between;
    height: 792px;
}

.header_img {
    background: url('../img/desktop/screen\ content.png');
    width: 779px;
    height: 530px;
    background-repeat: no-repeat;
    margin: auto 0px;
}

.header_text {
    width: 420px;
    height: 471px;
    margin-right: 154px;
    margin-top: 104px;
}

.header_h1 {
    color: #FFFFFF;
    letter-spacing: 0.2px;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    margin-top: 64px;
    margin-bottom: 27px;
}

.header_description {
    color: #FFFFFF;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    width: 298px;
    margin-bottom: 70px;
}

.header_btn {
    width: 120px;
    height: 65px;
    background: #FFFFFF;
    border-radius: 35px;
    color: #38A3F1;
    text-decoration: none;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    padding: 0px 58px;
}

.header_btn:hover {
    transition: 0.25s;
    color: #0059ff;
}

.features {
    padding: 80px 0px;
}

.features_text_content {
    width: 318px;
    height: 184px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 80px;
}

.features_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.features_name {
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.features_decription {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.feature_items {
    max-width: 929px;
    height: 187px;
    padding: 0px 30px;
    margin: 0px auto;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
}

.feature_item {
    width: 255px;
    height: 187px;
}

.feature_item_top_content {
    display: flex;
    padding: 10px 0px;
}

.feature_item_icon {
    margin-right: 10px;
}

.feature_item_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.features_item_description {
    margin: 10px 0px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.notebook_content {
    height: 1271px;
}

.notebook_text {
    height: 201px;
    width: 318px;
    text-align: center;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 90px;
}

.notebook_title {
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 27px;
    margin-top: 10px;
}

.notebook_description {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.notebook_button {
    color: #FFFFFF;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    background: #38A3F1;
    border-radius: 35px;
    display: flex;
    text-decoration: none;
    width: 120px;
    margin: 0px auto;
    padding: 16px 58px;
    align-items: center;
    margin-bottom: 114px;
}

.notebook_button:hover {
    background: #0051ff;
    transition: 0.25s;
}

.img_notebook {
    margin: 0px auto;
    width: 1033.26px;
    height: 577.74px;
    background-image: url('../img/desktop/notebook.png');
}

.subscribe_content {
    height: 571px;
    margin: 0px auto;
    text-align: center;
}

.subscribe_content_h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 7px;
}

.subscribe_content_h2 {
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 69px;
}

.subscribe_content_h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.subscribe_content_h4 {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.subscribe_nav_reg {
    max-width: 353px;
    width: 100%;
    height: 164px;
    margin: 0px auto;
    padding: 24px 0px;
    box-sizing: border-box;
}

.subscribe_btn_email {
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    max-width: 353px;
    width: 100%;
    height: 54px;
    padding: 0px 35px;
    margin-bottom: 12px;
}

.subscribe_btn_subscribe {
    max-width: 353px;
    width: 100%;
    height: 50px;
    background: #EF2779;
    border-radius: 35px;
    border: 1px solid #EF2779;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.subscribe_btn_subscribe:hover {
    transition: 0.25s;
    background: #ff0077;
}

.partners_content {
    height: 1297px;
}

.partners_title {
    margin-top: 130px;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
}

.partners_description {
    margin: 0px auto;
    margin-top: 27px;
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 298px;
}

.partners_items_content {
    max-width: 818px;
    height: 728px;
    margin: 0px auto;
    margin-top: 90px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.partners_item {
    width: 238px;
    height: 311px;
    text-align: center;
}

.partners_item_title {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-top: 10px;
}

.partners_item_icon {
    margin: 25px 0px;
}

.partners_item_description {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 218px;
    margin: 0px auto;
}

.partners_btn {
    color: #FFFFFF;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    background: #38A3F1;
    border-radius: 35px;
    display: flex;
    text-decoration: none;
    width: 120px;
    margin: 0px auto;
    padding: 16px 58px;
    align-items: center;
}

.partners_btn:hover {
    background: #0051ff;
    transition: 0.25s;
}

.testimonials_content {
    height: 758px;
    width: 100%;
}

.testimonials_name {
    padding-top: 110px;
    text-align: center;
    font-size: 46px;
    line-height: 57px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
}

.testimonials_client_groop {
    width: 100%;
    height: 256px;
    margin: 0px auto;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 80px;
}

.testimonials_img {
    width: 229px;
    height: 46px;
    margin-bottom: 60px;
}

.testimonials_description {
    width: 683px;
    margin: 0px auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.testimonials_client {
    display: flex;
    width: 152px;
    height: 50px;
    margin: 0px auto;
}

.testimonials_client_textcontent {
    width: 89px;
    margin-left: 13px;
    text-align-last: left;
}

.testimonials_client_textcontent_h1 {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.testimonials_client_textcontent_h2 {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 5px;
}

.testimonials_btn {
    text-decoration: none;
    background: #38A3F1;
    border-radius: 35px;
    color: #FFFFFF;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    width: 186px;
    align-items: center;
    padding: 16px 47px;
    margin: 0px auto;
}

.testimonials_btn:hover {
    background: #0051ff;
    transition: 0.25s;
}

.pricing_content {
    height: 734px;
}

.pricing_name {
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-top: 110px;
    margin-bottom: 27px;
}

.pricing_decription {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 298px;
    margin: 0px auto;
    margin-bottom: 90px;
}

.pricing_items {
    max-width: 1155px;
    height: 310px;
    margin: 0px auto;
    display: flex;
    padding: 0px 25px;
    justify-content: space-between;
    box-sizing: border-box;
}

.pricing_item {
    width: 335px;
    height: 310px;
    margin: auto 0px;
    box-sizing: border-box;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 10px;
}

.pricing_item_name {
    color: #252B42;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    margin: 3px 0px;
}

.pricing_item_decription {
    color: #374754;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
}

.pricing_item_price_groop {
    height: 61px;
    display: flex;
    margin-bottom: 30px;
}

.pricing_item_price_number {
    color: #252B42;
    letter-spacing: 0.2px;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    box-sizing: border-box;
    padding: 0px 10px;
}

.pricing_item_price_valute {
    color: #252B42;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
}

.pricing_item_price_time {
    color: #374754;
    letter-spacing: 0.1px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.pricing_item_btn, .pricing_item_btnbussines {
    display: flex;
    background: #38A3F1;
    border-radius: 35px;
    width: 255px;
    height: 52px;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 18px 88.5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.pricing_item_btn:hover {
    background: #001aff;
    transition: 0.25s;
}

#pricingitembussines {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    border: 1px solid #DEDEDE;
}

#pricing_item_name {
    color: #FFFFFF;
}

#pricing_item_decription {
    color: #FFFFFF;
}

#pricing_item_price_number {
    color: #FFFFFF;
}

#pricing_item_price_valute {
    color: #FFFFFF;
}

#pricing_item_price_time {
    color: #FFFFFF;
}

.pricing_item_btnbussines {
    background: #FFFFFF;
    color: #EF2779;
}

.pricing_item_btnbussines:hover {
    color: #ff0022;
    transition: 0.25s;
}

.contant_content {
    height: 794px;
    background: #D6EBFF;
}

.contact_name {
    font-size: 46px;
    line-height: 57px;
    color: #252B42;
    text-align: center;
    letter-spacing: 0.2px;
    padding-top: 95px;
    padding-bottom: 27px;
}

.contact_description {
    width: 298px;
    margin: 0px auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #252B42;
    text-align: center;
    letter-spacing: 0.2px;
}

.contact_form_content {
    width: 730px;
    height: 430px;
    margin: 0px auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.contact_form_leftcontent {
    width: 400px;
    height: 430px;
    background: #FFFFFF;
    border: 0.65371px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 8.49823px 12.4205px rgba(0, 0, 0, 0.07);
    border-radius: 13.0742px;
    padding: 26px 41px;
}

.contact_form_leftcontent_name {
    color: #252B42;
    letter-spacing: 0.065371px;
    font-weight: bold;
    font-size: 14.3816px;
    line-height: 22px;
    text-align: center;
}

.contact_form_leftcontent_form_name {
    background: #F5F5F5;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 39px;
    width: 318.72px;
    height: 35.84px;
    padding: 12.4205px 13.0742px;
    margin-top: 30px;
}

.contact_form_leftcontent_form_name::-webkit-input-placeholder, .contact_form_leftcontent_form_email::-webkit-input-placeholder {
    color: #374754;
    letter-spacing: 0.065371px;
    font-size: 9.80565px;
    line-height: 10px;
}

.contact_form_leftcontent_form_email {
    background: #F5F5F5;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 39px;
    width: 318.72px;
    height: 35.84px;
    padding: 12.4205px 13.0742px;
    margin: 30px 0px;
}

.contact_form_leftcontent_form_message {
    background: #F5F5F5;
    border: 0.65371px solid #FFFFFF;
    box-sizing: border-box;
    padding: 15.0353px 13.0742px;
    width: 318.72px;
    height: 126.17px;
    margin-bottom: 30px;
}

.contact_form_leftcontent_form_message::placeholder {
    font-size: 9.80565px;
    font-style: normal;
    font-family: Roboto;
    line-height: 10px;
    letter-spacing: 0.065371px;
    color: #374754;
}

.contact_form_leftcontent_form_send {
    background: #EF2779;
    border-radius: 22.8799px;
    width: 94.79px;
    height: 34.53px;
    border: 1px solid #EF2779;
    padding: 11.7668px 24.841px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 10.4594px;
    line-height: 10px;
    color: #FFFFFF;
    letter-spacing: 0.130742px;
}

.contact_form_leftcontent_form_send:hover {
    background: #ff0080;
    transition: 0.25s;
}

.contact_form_rightcontent {
    width: 264px;
    height: 263px;
    margin: auto 0px;
}

.contact_form_rightcontent_info {
    margin-bottom: 60px;
    width: 264px;
    height: 152px;
}

.contact_form_rightcontent_info_item {
    display: flex;
    height: 56px;
}

.contact_form_rightcontent_info_item_location {
    width: 26px;
    height: 32px;
    margin: auto 0px;
    margin-right: 20px;
}

.contact_form_rightcontent_info_item_telephone {
    width: 21px;
    height: 34px;
    margin: auto 0px;
    margin-right: 20px;
}

.contact_form_rightcontent_info_item_email {
    width: 27px;
    height: 22px;
    margin: auto 0px;
    margin-right: 20px;
}

.contact_form_rightcontent_info_item_text {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: auto 0px;
}

.contact_form_rightcontent_socialicon {
    width: 171px;
    margin-right: 100%;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

footer {
    height: 507px;
    display: flex;
    align-items: center;
}

.footer_content {
    height: 267px;
    max-width: 1092px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer_pages {
    width: 115px;
    height: 267px;
}

.footer_pages_name {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer_pages_items {
    width: 115px;
    height: 199px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.footer_pages_item {
    color: #FFFFFF;
    letter-spacing: 0.2px;
    font-size: 15px;
    line-height: 27px;
    height: 27px;
}

.footer_map {
    margin: auto 0px;
    width: 472px;
    height: 247px;
}

.footer_map_item {
    border-radius: 22px;
    width: 472px;
    height: 247px;
}

.footer_rightcontent {
    width: 264px;
    height: 233px;
    margin: auto 0px;
}

.footer_rightcontent_info {
    margin-bottom: 40px;
    width: 264px;
    height: 152px;
}

.footer_rightcontent_info_item {
    display: flex;
    height: 56px;
}

.footer_rightcontent_info_item_location {
    width: 26px;
    height: 32px;
    margin: auto 0px;
    margin-right: 20px;
}

.footer_rightcontent_info_item_telephone {
    width: 21px;
    height: 34px;
    margin: auto 0px;
    margin-right: 20px;
}

.footer_rightcontent_info_item_email {
    width: 27px;
    height: 22px;
    margin: auto 0px;
    margin-right: 20px;
}

.footer_rightcontent_info_item_text {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: auto 0px;
}

.footer_rightcontent_socialicon {
    width: 171px;
    margin-right: 100%;
    justify-content: space-between;
    display: flex;
}

